
@{
    ViewData["Title"] = "Index";
}

<section id="teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title">
                <h3>
                    Muellimler
                </h3>
                <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout
                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img ">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>