@{
    ViewData["Title"] = "Home Page";
}


<section id="slider">
    <div class="owl-carousel owl-theme">
        

        @*@foreach (var item in Model)
        {
            <div class="item"><img src="~/Uploads/@item.Image" class="img-fluid" alt="..."></div>
        }*@

       @* <div class="item"><img src="/img/york-university-hero-image_1140x600.jpg" class="img-fluid" alt="..."></div>*@
        <!-- <div class="item">      <img src="/img/20190828_FirstDay_NingLeng-_McCourt-45110optimized-2000x1500-c-default.jpg" class=" " alt="..."></div> -->

    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 title">
                <h3>
                    Xeberler
                </h3>
                <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout
                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>
            <div class="row" style="margin-left: 3px;">
                <div class="col-lg-3 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 cardd">
                    <div class="card">
                        <img src="img/blog/blog1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                            </p>
                            <a href="">Read More</a>
                            <div class="date">
                                16 <br>
                                Sep
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<section id="total">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="borderr">
                    <img src="img/about/fun1.png" alt="">
                    <h4>
                        <div class="timer" data-from="0" data-to="2600" data-speed="5000" data-refresh-interval="50"></div>+

                    </h4>
                    <h3>
                        Our Students
                    </h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="borderr">
                    <img src="img/about/fun2.png" alt="">
                    <h4>
                        <div class="timer" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50">30</div>+
                    </h4>
                    <h3>
                        Our Teacher
                    </h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="borderr">
                    <img src="img/about/fun4.png" alt="">
                    <h4>
                        <div class="timer" data-from="0" data-to="12" data-speed="5000" data-refresh-interval="50">12</div>+

                    </h4>
                    <h3>
                        Experience Year
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- student slider -->

<section id="slider2">
    <div class="col-lg-12 title">
        <h3>
            Telebeler
        </h3>
        <p>
            It is a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout
        </p>
        <div class="dot1">
        </div>
        <div class="dot1">
        </div>
        <div class="dot1">
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-right: -47px;">
            <div class="col-lg-12 col-sm-12">
                <div class=" student-1 owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials_single_in">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. orem Ipsum has been
                                the industry's standard. Lorem Ipsum is simply dummy text of the
                            </p>
                            <h3>Susmita Sen</h3>
                            <h5>Student</h5>
                            <img src="img/student/client1.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials_single_in">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. orem Ipsum has been
                                the industry's standard. Lorem Ipsum is simply dummy text of the
                            </p>
                            <h3>Susmita Sen</h3>
                            <h5>Student</h5>
                            <img src="img/student/client1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials_single_in">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. orem Ipsum has been
                                the industry's standard. Lorem Ipsum is simply dummy text of the
                            </p>
                            <h3>Susmita Sen</h3>
                            <h5>Student</h5>
                            <img src="img/student/client1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    </div>
</section>
<!-- stundent slider end -->
<!-- ------------ -->
<section id="video">
    <div class="forvideo">
        <div class="container">
            <div class="row forcenter">
                <div class="col-lg-12">
                    <div class="inside_video">
                        <h4>Watch Our Univercity Video</h4>
                        <a data-bs-toggle="modal" data-bs-target="#VmModal" href="">
                            <i class="fas fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- video modal -->

<div class="video-modal">
    <div class="modal" style="top: 250px;" id="VmModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-header">
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-content">
                <iframe height="315" src="https://www.youtube.com/embed/vS_5SSULAic" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<!-- ----------------- -->
<!-- teacher  -->

<section id="teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title">
                <h3>
                    Muellimler
                </h3>
                <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout
                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img ">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3  teacher">
                <div class="card" style="border: none;">
                    <div class="img">
                        <img class="card-img-top" src="img/teacher/professor1.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Elan Btrao</h5>
                        <p class="card-text text-center">Teacher</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- teacher end -->
<!-- partner -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="partner-logo owl-carousel owl-theme">
                    <div class="item"><img src="img/partner logo/partner1.jpg" alt=""></div>
                    <div class="item"><img src="img/partner logo/partner1.jpg" alt=""></div>
                    <div class="item"><img src="img/partner logo/partner3.jpg" alt=""></div>
                    <div class="item"><img src="img/partner logo/partner4.jpg" alt=""></div>


                </div>
            </div>
        </div>
    </div>

</section>
<!-- partner end -->
<!-- about -->

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title">
                <h3>
                    Haqqimizda
                </h3>
                <p>
                    It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking at its layout
                </p>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
                <div class="dot1">
                </div>
            </div>

            <div class="col-lg-6 content">
                <h2>
                    Welcome to Our EduVas Education Platform
                </h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged.
                </p>
            </div>
            <div class="col-lg-6 img">
                <img src="img/about/about_img.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<!-- about end -->